<turbo-frame id="dashboard">
  <div class="space-y-8">
    <%= link_to user_path(current_user.username || current_user.id),
        class: "block w-full text-center border-b border-b-[#ccc] opacity-50 hover:opacity-100 text-white font-medium text-xl cursor-pointer" do %>
      Profile
    <% end %>

    <a class="block w-full text-center border-b border-b-[#ccc] opacity-50 hover:opacity-100 text-white font-medium text-xl cursor-pointer">
      Subscriptions
    </a>

    <a class="block w-full text-center border-b border-b-[#ccc] opacity-50 hover:opacity-100 text-white font-medium text-xl cursor-pointer">
      Challenges
    </a>

    <%= link_to edit_user_path(current_user),
        class: "block w-full text-center border-b border-b-[#ccc] opacity-50 hover:opacity-100 text-white font-medium text-xl cursor-pointer" do %>
      Settings
    <% end %>

    <%= link_to destroy_user_session_path,
        data: { turbo_method: :delete },
        class: "block w-full text-center border-b border-b-[#ccc] opacity-50 hover:opacity-100 text-white font-medium text-xl cursor-pointer" do %>
      Logout
    <% end %>
  </div>
</turbo-frame>
