<% content_for :dashboard_button do %>
  <button type="button" class="inline-flex items-center cursor-pointer border-r border-white" data-action="click->modal#open">
    <%= image_tag 'icons/settings.svg' %>
  </button>
<% end %>
<%= render partial: "partials/overlay", locals: {
  overlay_name: "dashboard",
  overlay_title: "Dashboard",
  overlay_path: dashboard_path
} %>
