<div class="text-xl text-white">Recommended</div>
<% @recommended_games&.each do |game| %>
  <%= render partial: "partials/thumbnail", locals: { game: game, show_rank_number: false, rank_number: nil } %>
<% end %>
