<section class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h2 class="text-4xl text-center">Explore our Developer Products</h2>
    </div>
    <div>
      <div class="border border-[#393a3a] p-4 rounded-xl mb-8 lg:p-4">
        <h5 class="inline-flex text-xl w-full">Statistics</h5>
        <div class="w-full pr-4">
          <p class="text-base text-white font-normal leading-6">Understand your audience.</p>
          <%= image_tag 'sprites/stats.png' %>
        </div>
      </div>
      <div class="border border-[#393a3a] p-4 rounded-xl mb-8 lg:p-4">
        <h5 class="inline-flex text-xl w-full">indiepad</h5>
        <div class="w-full pr-4">
          <p class="text-base text-white font-normal leading-6">Download the App on your smartphone and use it like a Gamepad with several games on indiexpo. Only for Android.
            If you're a developer of HTML5 Games, click the check box 'indiepad' when you upload your game!
          </p>
          <%= image_tag 'sprites/indiepad_Google_Play.png' %>
        </div>
      </div>
    </div>
  </div>
</section>
