<section class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h2 class="text-4xl text-center">Explore our Developer Products</h2>
    </div>
    <div>
      <div class="border border-[#393a3a] p-4 rounded-xl mb-8 lg:p-4">
        <button class="inline-flex items-center justify-between text-lg w-full" aria-controls="basic-collapse-one-with-icon">
          <h5>Statistics</h5>
          <svg class="w-6 h-6 text-white transition duration-500 block accordion-active:text-indigo-600 accordion-active:hidden group-hover:text-indigo-600 origin-center" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12H18M12 18V6" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">ù
            </path>
          </svg>
          <svg class="w-6 h-6 text-white transition duration-500 hidden accordion-active:text-indigo-600 accordion-active:block group-hover:text-indigo-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12H18" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
        </button>
        <div id="basic-collapse-one-with-icon" class="accordion-content w-full overflow-hidden pr-4" aria-labelledby="basic-heading-one" style="max-height: 250px;">
          <p class="text-base text-white font-normal leading-6">Understand your audience.</p>
        </div>
      </div>
      <div class="border border-[#393a3a] p-4 rounded-xl mb-8 lg:p-4">
        <button class="inline-flex items-center justify-between text-lg w-full" aria-controls="basic-collapse-two-with-icon">
          <h5>indiepad</h5>
          <svg class="w-6 h-6 text-white transition duration-500 block accordion-active:text-indigo-600 accordion-active:hidden group-hover:text-indigo-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12H18M12 18V6" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
          <svg class="w-6 h-6 text-white transition duration-500 hidden accordion-active:text-indigo-600 accordion-active:block group-hover:text-indigo-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12H18" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
            </path>
          </svg>
        </button>
        <div id="basic-collapse-two-with-icon" class="accordion-content w-full overflow-hidden pr-4" aria-labelledby="basic-heading-two">
          <p class="text-base text-white font-normal leading-6">Download the App on your smartphone and use it like a Gamepad with several games on indiexpo. Only for Android.
            If you're a developer of HTML5 Games, click the check box 'indiepad' when you upload your game!
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>
