<section class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h2 class="text-4xl text-center">
        Frequently asked questions
      </h2>
    </div>
    <div>
      <div class="border border-[#393a3a] p-4 rounded-xl mb-8 lg:p-4">
        <h5 class="text-xl">What is indiexpo?</h5>
        <div class="accordion-content w-full overflow-hidden pr-4">
          <p class="text-base text-white font-normal leading-6">
            indiexpo allows thousands of people to discover, watch and share indie games and originally-created games. Indiexpo provides an area for people to connect, inform, and inspire others across the globe and acts as a distribution platform for original content creators and advertisers large and small.
          </p>
        </div>
      </div>
      <div class="border border-[#393a3a] p-4 rounded-xl mb-8 lg:p-4">
          <h5 class="text-xl">How to earn Points?</h5>
        <div class="accordion-content w-full overflow-hidden pr-4">
          <p class="text-base text-white font-normal leading-6">
            indiexpo has a system of points and levels. The number of points you get depends on the specific action you take. The points table below summarizes the point values for different actions.
          </p>
        </div>
      </div>
      <div class="border border-[#393a3a] p-4 rounded-xl mb-8 lg:p-4">
          <h5 class="text-xl">How to Level Up?</h5>
        <div class="accordion-content w-full overflow-hidden pr-4">
          <p class="text-base text-white font-normal leading-6">
            Levels are another way to keep track of how active you (and others) have been. The more points you accumulate, the higher your level. Indiexpo recognizes your level achievements with our special brand of thank you's.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
